@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 3%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 13%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 13%;
    --muted-foreground: 0 0% 63%;

    --accent: 0 0% 13%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 13%;
    --input: 0 0% 13%;
    --ring: 0 0% 83%;

    --radius: 0.5rem;
}

body {
    @apply bg-background text-foreground;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-mono);
}
